.full-height {
  margin-top: 50px;
  min-height: 100vh; /* Asegura que el contenedor ocupe todo el alto de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el formulario verticalmente */
}
