

/* Asegúrate de que el contenedor ocupa toda la pantalla */
.content-dashboard {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top:100px;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto; /* Permite scroll horizontal en móviles */
}

.table-responsive {
  min-width: 600px; /* Ancho mínimo antes de aparecer scroll */
}

/* En móviles, ocultamos la tabla y mostramos tarjetas */
@media (max-width: 480px) {
  .table-container table {
    display: none; /* Oculta la tabla */
  }
  
  .user-card {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .user-card h3 {
    margin: 0;
    font-size: 18px;
  }

  .user-card p {
    margin: 4px 0;
    font-size: 14px;
  }

  .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .checkbox-container label {
    font-size: 12px;
  }
}