/* Contenedor general para navbar y breadcrumbs */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navbar-container.scroll-hide {
  opacity: 0;
  transform: translateY(-100%);
}

.navbar-container.scroll-show {
  opacity: 1;
  transform: translateY(0);
}

/* Navbar negro opaco */
.navbar {
  background-color: rgba(86, 150, 68, 0.9) !important;
  padding: 0.5rem 1rem;
}

/* Breadcrumbs con fondo claro */

.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li a {
  text-decoration: none;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li span {
  color: #888;
}

/* Ocultar navbar y breadcrumbs al hacer scroll */
.scroll-hide {
  opacity: 0;
  transform: translateY(-100%);
}

.scroll-show {
  opacity: 1;
  transform: translateY(0);
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.breadcrumbs {
  position: fixed;
  top: 68px;
  width: 100%;
  padding-bottom: 0px;
  z-index: 1040;
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: rgba(255, 255, 255, 0.68);
  opacity: 1; /* Por defecto, visible */
  box-shadow: 0 1px 1px rgba(123, 161, 45, 0.7);
}

.breadcrumbs.scroll-hide {
  opacity: 0; /* Desaparece completamente */
  transform: translateY(
    -20px
  ); /* Opcional: añade un efecto de desplazamiento */
}

/* ------------------------------------------ */

/* Navbar negro transparente */
.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  padding: 0;
}

/* Ocultar y mostrar el navbar al hacer scroll */
.navbar.scroll-hide {
  opacity: 0;
}

.navbar.scroll-show {
  opacity: 1;
}

/* Estilos para los enlaces del navbar */
.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
  padding: 0.5rem 1rem;
}

/* Subrayado blanco al hacer hover */
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

/* Subrayado blanco al hacer hover */
.nav-link_dona::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.nav-link_dona:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link_dona {
  color: #f7d046 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Cambia el color al hacer hover */
.nav-link:hover {
  color: #ffffff !important;
}

/* Estilos para la imagen de perfil */
.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-name {
  color: #ffffff;
  font-weight: bold;
}

/* Ajustes para los elementos de navegación */
.navbar-nav {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end; /* Alinea los enlaces a la derecha */
  align-items: center;
  width: 100%;
}

.basic-navbar-nav-autentication {
  display: flex;
  gap: 2rem;
  justify-content: center; /* Alinea los enlaces a la derecha */
  align-items: center;
  width: 100%;
}

.basic-navbar-nav-autentication-2 {
  display: flex;
  gap: 2rem;
  justify-content: right; /* Alinea los enlaces a la derecha */
  align-items: center;
  width: 100%;
}

.basic-navbar-nav-autentication-left {
  display: flex;
  gap: 0.5rem;
  justify-content: left; /* Alinea los enlaces a la derecha */
  align-items: center;
  width: 100%;
}
.navbar-brand {
  flex-shrink: 0; /* Evita que el logo se redimensione */
  margin-right: auto; /* Alinea el logo a la izquierda */
}

/* Alineación del botón de menú hamburguesa */
.navbar-toggler {
  border: none;
}

/* Personalización del icono del menú hamburguesa */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilos responsivos */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .navbar-nav {
    align-items: center;
  }
}



/* VerifyCaptcha */
