.scroll-arrow {
  position: absolute;

  left: 50%;
  z-index: 133;
  transform: translate(
    -50%,
    0
  ); 
  cursor: pointer;
  font-size: 2rem;
  /* color: */
  animation: bounce 1s infinite; 
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
