/* Estilos para el contenedor del video */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Asegura que el video ocupe toda la altura de la ventana */
    overflow: hidden;
  }
  
  /* Estilos para la imagen estática en dispositivos móviles */
  .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor sin distorsión */
    display: block; /* Elimina cualquier espacio extra debajo de la imagen */
  }
  
  /* Estilos para el video en pantallas de escritorio */
  .video-container .react-player {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que el video cubra el contenedor sin distorsión */
  }
  
  /* Ajustes para pantallas móviles */
  @media (max-width: 768px) {
    .video-container {
      height: auto; /* Permite que el contenedor ajuste su altura en móviles */
    }
  
    /* En móviles, el video no es necesario, solo mostramos la imagen */
    .video-container .react-player {
      display: none; /* Ocultamos el reproductor de video en dispositivos móviles */
    }
  }
  